<!doctype html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>AngularJs Form</title>
        <link rel="icon" href="favicon.ico">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container" ng-controller="AppController as vm" ng-cloak>
            <div class="starter-template">
                <h1>AngularJs Form Validation</h1>
                <form name="vm.form" novalidate ng-submit="vm.submit()">
                    <div class="form-group" ng-class="{'has-error': vm.form.email.$invalid && !vm.form.email.$pristine}">
                        <label class="control-label" for="exampleInputEmail1">Email address</label>
                        <input name="email" ng-model="vm.email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" required>
                        <p ng-show="vm.form.email.$invalid && !vm.form.email.$pristine" class="help-block">Email is required.</p>
                    </div>
                    <div class="form-group" ng-class="{'has-error': vm.form.password.$invalid && !vm.form.password.$pristine}">
                        <label class="control-label" for="exampleInputPassword1">Password</label>
                        <input name="password" ng-model="vm.password"  type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
                        <p ng-show="vm.form.password.$invalid && !vm.form.password.$pristine" class="help-block">Password is required.</p>
                    </div>
                    <button type="submit" class="btn btn-default" ng-disabled="vm.form.$invalid">Submit</button>
                </form>
                <p class="text-success">{{ vm.message }}</p>
            </div>
        </div>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="app.js"></script>
    </body>
</html>

